
h1{
  font-weight: bold; 
  font-size: large;
}

/* .md-typeset h1, .md-typeset h2{
    
} */

@font-face {
  font-family: "Luciole";
  src: url(Luciole/Luciole-Regular.ttf);
}
@font-face {
  font-family: "Luciole";
  src: url(Luciole/Luciole-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Luciole";
  src: url(Luciole/Luciole-Regular-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "Luciole";
  src: url(Luciole/Luciole-Bold-Italic.ttf);
  font-weight: bold;
  font-style: italic;
}

:root > * {
  --md-default-fg-color--light: black;
  --md-primary-bg-color: black;
  --md-primary-fg-color: #C8DAF0;
  --md-accent-fg-color: black;
  --md-primary-bg-color--light: black;
  --md-typeset-a-color: black;
  --md-text-font: "Luciole"; 
}

.md-search__form{
    background-color: #fff;
}

.md-nav__link{
padding: 5px;
/* outline */
border-bottom: 2px solid black;

border-radius: 5px;
font-size: medium;
/* background-color: #d5ebd1; */
}

.md-nav__link:hover{
  border-bottom: 2px solid black;
  background-color: #d5ebd1;
  }

.md-nav__link.md-nav__link--passed.md-nav__link--active,
.md-nav__link.md-nav__link--active{
  background-color: #C8DAF0;
  color: black;
}

.md-nav {
  /* background-color: #c9ffc1; */
  /* border-radius: 5px; */
  padding: 5px 15px 10px 15px;
  width: fit-content;
  min-width: 20%;
  /* flex:2; */

}
.md-container{display: flex;flex-flow:row;}

@media screen and (max-width: 76.234375em) {
  /* .md-nav {
    background-color: #9EE433;
  } */
  .md-container{flex-flow: column;}
}


p a, .md-content li a{
    padding: 5px;
    background-color: #9EE493;
    text-decoration: underline;
    line-height: 2em;
/*     color: black; */
}
/*.md-nav__link--passed{
    color: #444;
}*/

.img-2rem img{
  height: 2rem;
  line-height: 2rem;
}
.img-3rem img{
  height: 3rem;
}

.img-4rem img{
  height: 4rem;
}

.img-w600 img{
  width: 600px;
}

.lsf{
  line-height: 40px;
}

.lsf::after{
  background-image: url("../assets/lsf-hands.svg");
  background-size: calc(129/174 * 40px) 40px;
  display: inline-block;
  width: calc(129/174 * 40px); 
  height: 40px;
  content:"";
}

.md-typeset h3
{
  text-decoration: underline;
}

.md-typeset h2 img{
  margin-right: 10px;
  /* position: relative; */
  /* bottom: -10px; */
}

.md-typeset h3 img{
  margin-right: 10px;
  position: relative;
  bottom: -10px;
}

.middle img{
  margin-right: 10px;
  position: relative;
  bottom: -10px;
}

.down-20 img{
  margin-right: 10px;
  position: relative;
  bottom: -20px;
}


.md-main__inner {
  display: grid;
  font-size: medium;
}